{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}
<div class="p-5 mx-auto text-center divadj col-xl-8 col-lg-9 col-md-10 col-sm-10 col-10">
    <h3>Contraseña cambiada con éxito</h3>
    <p class="my-5" style="font-size: 1rem; text-align: center; text-justify: inter-word;">Tu contraseña ha sido cambiada exitosamente, {{ user.get_username | title }}.</p>
    <div class="text-center my-5">
        <a class="btn botonadj my-3" href="{% url 'account' %}" role="button">Volver a Mi Cuenta</a>
        <a class="btn botonadj my-3" href="{% url 'index' %}" role="button">Ir a Inicio</a>
    </div>
</div>
</div>

{% endblock %}